
    .demo
        {
            margin: 20px;
            border: 2px solid white;
            cursor: pointer; 
            height: 60px;
            width: 60px;
            border-radius: 50%;
            display: inline-block;
            text-decoration: none;
            background-repeat: no-repeat;
            background-size: contain;
        }